# Example env file for Agentic Exam Intelligence

PGHOST=localhost

PGPORT=5432

PGDATABASE=postgres

PGUSER=postgres

PGPASSWORD=postgres

GOOGLE_GENAI_API_KEY=

GOOGLE_GENAI_MODEL=models/gemini-1.5

LLM_TOP_K=20

DOCUMENTINTELLIGENCE_ENDPOIN=

DOCUMENTINTELLIGENCE_API_KEY=

EMBEDDING_MODEL_PATH=C:\path\to\your\downloaded\sentence-transformers\all-MiniLM-L6-v2
